
 
  <form>
    <div class="form-group col-3">
      <label for="cat">Select category:</label>
      <select class="form-control" name="drop1" [(ngModel)]="dropcat" >
        <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
      </select>
    </div>
    <div class="form-group col-3">
      <label for="pwd">Enter subcategory:</label>
      <input type="text" name="input1"id="innp" [(ngModel)]="subc" class="form-control"placeholder="Enter subcategory">
    </div>
    <input type="button" value="save" (click)=funscat_insert() class="btn btn-primary">
    
  </form>
    


<table class="table table-responsive">
    <thead class="thead-dark">
      <tr>
       <th>S.no</th>
       
        <th>Subcategory</th>
        <th>Category</th>
        <th>Edit/Update</th>
      </tr>
    </thead>
    <tbody  *ngFor="let x of subcatdata | paginate:{itemsPerPage:8,currentPage:pno} let i = index">
      <tr>
        <td>{{i+1}}</td>
        
        <td *ngIf="tmp!=x._id">{{x.subcat}}</td>
        <td *ngIf="tmp!=x._id; else falsyTemplate">{{x.catname}}</td>
       
      <!--<td><input type="button" value="Delete" (click)="fundel(x._id)">-->
          <td *ngIf="tmp!=x._id;"><input type="button"class="btn btn-primary btn-sm" value="Update" (click)="funupdate(x)">
          
          <input type="button"class="btn btn-sm" value="Delete" (click)="fundeletesubcat(x._id)">
          <span *ngIf="x.active==1"><input type="button" class="btn btn-danger btn-sm" value="inactive" (click)="funactive(x,0)"></span>
          <span *ngIf="x.active==0"><input type="button" class="btn btn-success btn-sm" value="active" (click)="funinactive(x,1)"></span>

      </tr>      
     
    </tbody>
  </table>
  <ng-template #falsyTemplate >
      
       
    
    <td ><input type="text" [(ngModel)]="t1"></td>
    <td ><select class="form-control"  name="drop1" [(ngModel)]="dropcatt" >
          <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
        </select> 
    </td>
    <td *ngIf="tmp!=0"><input type="button" value="save" (click)="funsave(x)">
      <input type="button" value="Cancel" (click)="funccancel(x)">

    <td ></td>
         
  </ng-template>
  <div class="fixedpg">
      <pagination-controls (pageChange)="pno=$event"></pagination-controls> 
  </div>



  