#msg{
    height: 32px;
    /* text-align: center; */
    color: rgb(52, 58, 64);
    margin-left: 3px;
}


.input-group-addon{
    align-self: center;
}
#delete{
    color: rgb(255, 255, 255);
    background-color:rgb(197, 79, 79);
}

.btn{
    width: 74px;
    align-self: center;
    height: 33px;
}

.table{
    width: 538px;
}

#enterbtn{
    margin-left: 4px;

}
.table .thead-dark th {
    color: #fff;
    background-color: #a8a8a8;
     border-color: #efeded; 
}
.form-control {
    height: 33px;
}