<form class="form-group form-control" >
    
  <select class="form-control" style="width:200px;" name="drop1"  [(ngModel)]="dropcatid" (change)="funsubcatget()">
    
    <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
   
    </select> 

    <select class="form-control" style="width:200px;" name="drop1" [(ngModel)]="dropscatid">
      <option *ngFor="let x of subcatdata" value={{x._id}}>{{x.subcat}}</option>
     
    </select> 

  
  <input type="text" name="input1"  class="form-control" style="width:200px;" [(ngModel)]="ssubc">
  <br>
  <input type="button" value="save" (click)=funssscat_insert() class="btn btn-primary">
    
</form>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>S.no</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Subsubcategory</th>
      <th>Update / Delete</th>
      
    </tr>
  </thead>
  <tbody  *ngFor="let x of sscat; let i = index">
    <tr class="animate-repeat">
      <td>{{i+1}}</td>
      <td *ngIf="tmp!=x._id; else falsyTemplate">{{x.catname}}</td>
      <td *ngIf="tmp!=x._id">{{x.subcat}}</td>
      <td *ngIf="tmp!=x._id">{{x.subsubcat}}</td>
      <td *ngIf="tmp!=x._id"><input type="button" value="Update" (click)="funsubsubupdate(x)">
      <input type="button" value="Delete" (click)="fundel(x._id)">
      <span *ngIf="x.active==1"><input type="button" value="inactive" (click)="funactive(x,0)"></span>
      <span *ngIf="x.active==0"><input type="button" value="active" (click)="funinactive(x,1)"></span>

    
    </tr>      
   
  </tbody>
</table>

<ng-template #falsyTemplate >
      
       
   
    
    <td >
        <select class="form-control" style="width:200px;" name="drop1"  [(ngModel)]="dropupdatecatid" (change)="funsubcatgetid()">
    
            <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
           
            </select> 
    </td>
    <td >
        <select class="form-control" style="width:200px;" name="drop2" [(ngModel)]="dropupdatescatid">
            <option *ngFor="let x of subcatdat" value={{x._id}}>{{x.subcat}}</option>
           
          </select> 
  </td>
    <td ><input type="text" [(ngModel)]="t1"></td>
    <td><input type="button" value="save" (click)="funsubsubcatsave(x)">
      <input type="button" value="Cancel" (click)="funccancel(x)">
    <td ></td>
         
  </ng-template>