<form class="form-group form-inline" >
    <div class="input-group">
        <strong> <span class="input-group-addon">Insert category</span></strong>
        <input id="msg" type="text" class="form-control" name="msg" placeholder="Please enter category" [(ngModel)]="txt1">
    </div>
<br>
<input type="button" value="Enter" (click)=funcat_insert()  class="btn btn-default" id="enterbtn">
</form>

<table class="table table-responsive table-hover" id="tbl" >
  <thead class="thead-dark">
    <tr>
      <th>s.no</th>
      <th>category</th>
      <th>update /  Delete</th>
      
      
    </tr>
  </thead>
  <tbody  *ngFor="let x of data | paginate:{itemsPerPage:8,currentPage:pno} let i = index">
    <tr class="something">
      <td>{{i+1}}</td>
      <!-- <td *ngIf="tmp!=x._id">{{x._id}}</td> -->
      <td *ngIf="tmp!=x._id; else falsyTemplate">{{x.catname}}</td>
      <td *ngIf="tmp!=x._id"><input type="button" class="btn btn-primary btn-sm" value="Update" (click)="funucatupdate(x)">
      <input type="button" class="btn btn-sm" id="delete"value="Delete" (click)="fundelcat(x._id)">
      <span *ngIf="x.active==1"><input type="button" class="btn btn-danger btn-sm" value="inactive" (click)="funactive(x,0)"></span>
      <span *ngIf="x.active==0"><input type="button" class="btn btn-success btn-sm" value="active" (click)="funinactive(x,1)"></span>

    
    </tr>      
   
  </tbody>
</table>

<ng-template #falsyTemplate id="temp"class="table table-responsive">
  <td ><input type="text" class="form-control col-12" [(ngModel)]="t1"></td>
  <td *ngIf="tmp!=0"><input type="button"class="btn btn-success btn-sm" value="save" (click)="funcatsave(x)">
    <input type="button" value="Cancel"class="btn btn-success btn-sm" (click)="funccancel(x)">
  </td>
       
</ng-template>
<div class="fixedpg">
    <pagination-controls (pageChange)="pno=$event"></pagination-controls> 
</div>



<!---DATE PICKER -->
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker>
  </div>
</div>
