<nav class="navbar navbar-expand-md  navbar-dark bg-dark">
    <span class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </span>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#" style="color:white; font-size:15px;">Home</a>
        </li>
        <li class="nav-item dropdown" *ngFor="let cat of catdata">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:white; font-size:15px;">
            {{cat.catname}}
          </a>
         
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu" *ngFor="let subcat of subcatdata" >
              <a class="dropdown-item" *ngIf="subcat.catid==cat._id">
                {{subcat.subcat}}</a>
                <ul class="dropdown-menu">
                        <li class="dropdown-item" *ngFor="let subsub of sscat">
                          <a *ngIf="subsub.scatid==subcat._id" [routerLink]="['product',subsub]">{{subsub.subsubcat}}</a>
                        </li>
                    </ul>
            </li>
          </ul>

        </li>
      </ul>
      </div>
  </nav>
  <router-outlet>
  </router-outlet>

