<div class="row">
    <div class="col-md-4 uacss _1GRhLX">
        <div class="NqIFxw HDbIt8">
                
            <label href="#" style="-webkit-text-stroke-width: medium;letter-spacing: 2px;">Hello,<br>Abhishek
                <img src="../assets/svgicon/profile-pic-male_2fd3e8.svg" style="width:30px;margin-top: -45px;width: 30px;margin-left: -163px;">
            </label> 
        </div>
        
        
    </div>
</div>  
       

<div class="row">
    <div class="col-md-4 uacss _1GRhLX">
        <div class="NqIFxw HDbIt8">
            <a href="#" style="-webkit-text-stroke-width: medium;letter-spacing: 2px;">MY ORDERS</a>
        </div>
        <div class="labe">
        <label class="_3X41hQ">ACCOUNT SETTINGS</label> 
        </div>
        <div class="NqIFxw HDbIt8">
            <a href="#">Profile information</a>
        </div>
        <div class="NqIFxw HDbIt8">
            <a href="#">Manage Addresses</a>
        </div>
        <div class="NqIFxw HDbIt8">
            <a href="#">Notification Preferences</a>
        </div>
        <div class="NqIFxw HDbIt8">
            <a href="#">PAN Card Information</a>
        </div>
       
    </div>
   
</div>  

   
   
   
   
   
   
   
   
   
   
   
   
   
    <!-- <div class="col-md-4 ml-auto" style="background-color: yellowgreen">.col-md-4 .ml-auto</div>
  </div>
  <div class="row" style="background-color: bisque">
    <div class="col-md-3 ml-md-auto">.col-md-3 .ml-md-auto</div>
    <div class="col-md-3 ml-md-auto">.col-md-3 .ml-md-auto</div>
  </div>
  <div class="row" style="background-color: rgb(112, 73, 73)">
    <div class="col-auto mr-auto">.col-auto .mr-auto</div>
    <div class="col-auto">.col-auto</div>
  </div> -->

