#description{
    height: 74px;
}

#prcolor{
    height: 74px;
    width: 149px;
}
#gSprcolor{
    height: 49px;
    background-color: white;
    border: none;
    width: 56px;
    
}
#upimage{
    height: 42px;
}
.thead-dark{
    text-align: center;
    width: 100%;
}
#tbl{
   
    height: 280px;
}
