<span *ngIf="show==1"><input type="button" class="btn btn-primary btn-sm" value="Add product" (click)="funaadd(0)"></span>
<span *ngIf="show==0"><input type="button" class="btn btn-success btn-sm" value="Back" (click)="funcan(1)"></span>

  <form method="post"class="form-control" action="http://localhost:2222/uploads" enctype="multipart/form-data" name="frm1" id="fm1" *ngIf="!show">
    <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputEmail4">Select category</label>
      <select class="form-control" id="inputEmail4" name="drop1"  [(ngModel)]="dropcatid" (change)="funsubcatget()">
        <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
      </select> 
    </div>
    <div class="form-group col-md-2">
      <label for="inputPassword4">Select subcategory</label>
      <select class="form-control" id="inputPassword4" name="drop1" [(ngModel)]="dropscatid" (change)="funsubsubcatget()">
        <option *ngFor="let x of subcatdata" value={{x._id}}>{{x.subcat}}</option>
      </select> 
      
    </div>
    
    <div class="form-group col-md-2">
      <label for="inputPassword4">Select subsubcategory</label>
      <select class="form-control" name="drop1" [(ngModel)]="dropscatidd">
        <option *ngFor="let x of subcatdataa" value={{x._id}}>{{x.subsubcat}}</option>
      </select>
      
    </div>
    <div class="form-group col-md-2">
      <label for="inputPassword4">Select brand</label>
      <select class="form-control" name="drop1" [(ngModel)]="dropbrandid">
        <option *ngFor="let x of branddata" value={{x._id}}>{{x.brand}}</option>
      </select>
      
    </div>
    <div class="form-group col-md-2">
      <label for="inputproduct">Insert product</label>
      <input type="text" class="form-control" id="inputPassword4" name="pro" [(ngModel)]="proname" placeholder="Enter product name">
    </div>
    <div class="form-group col-md-2">
      <label for="inputproduct">Quantity</label>
      <input type="number" class="form-control" id="inputPassword4"name="proq"[(ngModel)]="proquantity" placeholder="No of product">
    </div>
    <div class="form-group col-md-2">
      <label for="productprice">Price</label>
      <input type="number" class="form-control" id="inputprice"name="proq"[(ngModel)]="proprice" placeholder="Price">
    </div>
    <!-- <div class="form-group col-md-2">
      <label for="inputPassword4">Select image</label>
      <input type="file" name="photo"class="form-control"[(ngModel)]="proimage" ng2FileSelect [uploader]="uploader" />
      
    </div> -->
     <div class="form-group col-md-3">
        <label for="inputPassword4">Select image</label>
      <!-- <form method="post"class="form-control" action="http://localhost:2222/uploads" enctype="multipart/form-data" name="frm1" id="fm1"> -->
        <input type="file" name="f1" id="t7" class="form-control-file w-50" ><br>      
      <!-- </form>   -->
    </div> 

    <!-- <div class="form-group col-md-2">
      <label for="uploadimg">Click to upload image</label><br>
      <button type="button" class="btn btn-success btn-s"id="upimage" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        upload
       </button>
      </div> -->
      <div class="form-group col-md-2">
        <label for="inputAddress">Select product colour</label>
        <input type="color" class="form-control"id="prcolor"name="favcolor"[(ngModel)]="procolor" value="#ff0000">
        
      </div>
    <div class="form-group col-md-5">
      <label for="inputAddress">Product description</label>
      <textarea class="form-control" rows="5" id="description"name="prodesc"placeholder="Please enter about product"[(ngModel)]="prodesc"></textarea>
    </div>
    
  </div>
  <!-- <form method="post"class="form-control" action="http://localhost:2222/uploads" enctype="multipart/form-data" name="frm1" id="fm1">
    <input type="file" name="f1" id="t7" class="form-control-file w-50"><br>
   -->
  
  <input type="button" value="Save product" (click)=funproductinsert() class="btn btn-primary">

</form> 

<table class="table table-responsive table-hover" id="tbl" >
  <thead class="thead-dark">
    <tr>
      <th>s.no</th>
      <th>image</th>
      <th>category</th>
      <th>subcat</th>
      <th>subsubcat</th>
      <th>brand</th>
      <th>product</th>
      <th>color</th>
      <th>quantity</th>
      <th>price</th>
      <th>description</th>
      <!-- <th>prating</th>-->
      <th>update</th> 
      
      
    </tr>
  </thead>
  <tbody  *ngFor="let x of prodata; let i = index">
    <tr class="something">
      <td>{{i+1}}</td>
      <!-- <td>{{x.pimg}}</td> -->
      <td *ngIf="tmp!=x._id;"> 
        <img class="img-responsive" src="http://localhost:2121/assets/images/{{x.pimg}}" alt="Chania" width="100" height="80"> 
        <!-- <img class="col-md-2" src="./assets/images/{{x.pimg}}"></td> -->

      <td *ngIf="tmp!=x._id; else protemplate">{{x.catname}}</td>
      <td *ngIf="tmp!=x._id;">{{x.subcat}}</td>
      <td *ngIf="tmp!=x._id;">{{x.subsubcat}}</td>
      <td *ngIf="tmp!=x._id;">{{x.brand}}</td>
      <td *ngIf="tmp!=x._id;">{{x.product}}</td>
      
      <td *ngIf="tmp!=x._id;"> <input type="color" class="form-control"id="gSprcolor"name="procolor"value={{x.productcolor}} disabled>
      </td>
      <!-- <td>{{x.productcolor}}</td> -->
      <td *ngIf="tmp!=x._id;">{{x.quantity}}</td>
      <td *ngIf="tmp!=x._id;">{{x.price}}</td>
      <td *ngIf="tmp!=x._id;">{{x.productdescription}}</td>
      <!-- <td>{{x.prating}}</td>
      <td>{{x.pprice}}</td> -->
      <td *ngIf="tmp!=x._id;"><input type="button"class="btn btn-primary btn-sm" value="Update" (click)="funproupdate(x)">

      <input type="button"class="btn btn-sm" value="Delete" (click)="fundeletesubcat(x._id)">
      <span *ngIf="x.active==1"><input type="button" class="btn btn-danger btn-sm" value="inactive" (click)="funactive(x,0)"></span>
      <span *ngIf="x.active==0"><input type="button" class="btn btn-success btn-sm" value="active" (click)="funinactive(x,1)"></span>


    </tr>      
   
  </tbody>
</table>    

<ng-template #protemplate class="table table-responsive">
      
       
    <td ><input type="file" name="f1" id="t7" class="form-control-file w-50" ><br></td>  
 
  <td >
    <select class="form-control" class="form-control col-12" name="drop1" [(ngModel)]="dropcatt" >
      <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
    </select> 
  </td>
  <td >
    <select class="form-control"class="form-control col-12"  name="drop1" [(ngModel)]="dropscatt" >
      <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
    </select> 
</td>
<td >
  <select class="form-control" class="form-control col-12" name="drop1" [(ngModel)]="dropsscatt" >
    <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
  </select> 
</td>
<td >
  <select class="form-control"class="form-control col-12"  name="drop1" [(ngModel)]="dropbrand" >
    <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
  </select> 
</td>
<td ><input type="text" class="form-control col-12"[(ngModel)]="pro"></td>
<td ><input type="color" class="form-control"id="gSprcolor"name="favcolor"[(ngModel)]="procolor" value="#ff0000"></td>
    
 
<td ><input type="text"class="form-control col-12" [(ngModel)]="quantit"></td>
<td ><input type="text"class="form-control col-12" [(ngModel)]="pric"></td>
<td ><input type="text"class="form-control col-12" [(ngModel)]="desc"></td>

 
<td *ngIf="tmp!=0"><input type="button" value="save" (click)="funsave(x)">
<input type="button" value="Cancel" (click)="funccancel(x)">

  <td ></td>
       
</ng-template>
