<!-- <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" defer></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js" defer></script>
<style>
    article, aside, figure, footer, header, hgroup, 
    menu, nav, section { display: block; }
  </style> -->
<!-- <script>
    function readURL(input) {
         if (input.files && input.files[0]) {
             var reader = new FileReader();

             reader.onload = function (e) {
                 $('#blah')
                     .attr('src', e.target.result)
                     .width(150)
                     .height(200);
             };

             reader.readAsDataURL(input.files[0]);
         }
     }
</script> -->
<!--    date pecker-->
<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
  </div>
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker>
  </div>
</div>

<span *ngIf="show==1"><input type="button" class=" btn-primary btn-sm" value="Add product" (click)="funaadd(0)"></span>
<span *ngIf="show==0"><input type="button" class="btn btn-success btn-sm" value="Back" (click)="funcan(1)"></span>

  <form method="post"class="form-control" action="http://localhost:2222/uploads" enctype="multipart/form-data" name="frm1" id="fm1" *ngIf="!show">
    <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputEmail4">Select category</label>
      <select class="form-control" id="inputEmail4" name="drop1"  [(ngModel)]="dropcatid" (change)="funsubcatget()">
        <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
      </select> 
    </div>
    <div class="form-group col-md-2">
      <label for="inputPassword4">Select subcategory</label>
      <select class="form-control" id="inputPassword4" name="drop1" [(ngModel)]="dropscatid" (change)="funsubsubcatget()">
        <option *ngFor="let x of subcatdata" value={{x._id}}>{{x.subcat}}</option>
      </select> 
      
    </div>
    
    <div class="form-group col-md-2">
      <label for="inputPassword4">Select subsubcategory</label>
      <select class="form-control" name="drop1" [(ngModel)]="dropscatidd">
        <option *ngFor="let x of subcatdataa" value={{x._id}}>{{x.subsubcat}}</option>
      </select>
      
    </div>
    <div class="form-group col-md-2">
      <label for="inputPassword4">Select brand</label>
      <select class="form-control" name="drop1" [(ngModel)]="dropbrandid">
        <option *ngFor="let x of branddata" value={{x._id}}>{{x.brand}}</option>
      </select>
      
    </div>
    <div class="form-group col-md-2">
      <label for="inputproduct">Insert product</label>
      <input type="text" class="form-control" id="inputPassword4" name="pro" [(ngModel)]="proname" placeholder="Enter product name">
    </div>
    <div class="form-group col-md-2">
      <label for="inputproduct">Quantity</label>
      <input type="number" class="form-control" id="inputPassword4"name="proq"[(ngModel)]="proquantity" placeholder="No of product">
    </div>
    <div class="form-group col-md-2">
      <label for="productprice">Price</label>
      <input type="number" class="form-control" id="inputprice"name="proq"[(ngModel)]="proprice" placeholder="Price">
    </div>
   
     <div class="form-group col-md-3">
        <label for="inputPassword4">Select image</label>
        <input type="file" name="f1" id="t7" class="form-control-file w-50" ><br>      
    </div> 

  
      <div class="form-group col-md-2">
        <label for="inputAddress">Select product colour</label>
        <!--<input type="color" class="form-control"id="prcolor"name="favcolor"[(ngModel)]="procolor" value="#ff0000"> -->
        <strong >
        <input [(colorPicker)]="color" [style.background]="color" [(ngModel)]="procolor" name="colorp"  /> </strong>
        
      </div>
    <div class="form-group col-md-5">
      <label for="inputAddress">Product description</label>
      <textarea class="form-control" rows="5" id="description"name="prodesc"placeholder="Please enter about product"[(ngModel)]="prodesc"></textarea>
    </div>
    
  </div>
  <!-- <div class="form-group col-md-5">
  <input type='file'class="form-control-file" (change)="readURL(this)" />
    <img id="blah" src="#" alt="your image" />
  </div> -->
  
  <input type="button" value="Save product" (click)=funproductinsert() class=" btn-primary">

</form> 
<div class=" table-responsive table-hover">
  <table class="table"  >
    <thead class="thead-dark">
      <tr>
        <th>s.no</th>
        <th>image</th>
        <th>category</th>
        <th>subcat</th>
        <th>subsubcat</th>
        <th>brand</th>
        <th>product</th>
        <th>color</th>
        <th>quantity</th>
        <th>price</th>
        <th>description</th>
        <th>update</th> 
        
        
      </tr>
    </thead>
    <tbody  *ngFor="let x of prodata | paginate:{itemsPerPage:4,currentPage:pno} let i = index">
      <tr>
        <td>{{i+1}}</td>
        <td *ngIf="tmp!=x._id;">
            <img  class="thumbnail-image" src="http://localhost:2244/{{x.pimg}}"
      onError="this.src='./assets/images/placeholder.jpg';"  alt="Product img" width="auto" height="auto" />
          <!-- <img class="img-responsive" src="http://localhost:2121/assets/images/{{x.pimg}}" alt="Product img" width="50" height="30">  -->
        </td>
        <td *ngIf="tmp!=x._id; else protemplate">{{x.catname}}</td>
        <td *ngIf="tmp!=x._id;">{{x.subcat}}</td>
        <td *ngIf="tmp!=x._id;">{{x.subsubcat}}</td>
        <td *ngIf="tmp!=x._id;">{{x.brand}}</td>
        <td *ngIf="tmp!=x._id;">{{x.product}}</td>
        
        <td *ngIf="tmp!=x._id;"> <input type="color" class="form-control"id="gSprcolor"name="procolor"value={{x.productcolor}} disabled>
        </td>
        <td *ngIf="tmp!=x._id;">{{x.quantity}}</td>
        <td *ngIf="tmp!=x._id;">{{x.price}}</td>
        <td *ngIf="tmp!=x._id;">{{x.productdescription}}</td>
        <td *ngIf="tmp!=x._id;"><input type="button"class="btn btn-primary btn-sm" value="Update" (click)="funproupdate(x)">

        <input type="button"class="btn btn-sm" value="Delete" (click)="fundelpro(x._id)">
        <span *ngIf="x.active==1"><input type="button" class="btn btn-danger btn-sm" value="inactive" (click)="funactive(x,0)"></span>
        <span *ngIf="x.active==0"><input type="button" class="btn btn-success btn-sm" value="active" (click)="funinactive(x,1)"></span>


      </tr>      
    
    </tbody>
</table>    
</div>


<ng-template #protemplate class="table table-responsive">

      <td>  
        
          <div class="image-upload ">
              <label for="file-input">
                  <img src="./assets/images/select.png" width="auto" height="auto"/>
              </label>
          
              <input id="file-input" name="f1" type="file" class="form-control-file"/>
          </div>
        <!-- <div class="form-group col-md-3">
            <label for="inputPassword4">Select image</label>
          <input type="file" name="f1" id="t7" class="form-control-file w-50"><br>   
        </div>  -->
      </td>  
      <td>  
        <select class="form-control input-xs form-control-inline"  id="upcat" name="drop1"  [(ngModel)]="dropsavecatid" (change)="funsubcatgetsave()">
          <option *ngFor="let x of categorydata" value={{x._id}}>{{x.catname}}</option>
        </select> 
      </td>
      <td >
        <select class="form-control input-xs form-control-inline" id="upcat" name="drop1" [(ngModel)]="dropscatidsave" (change)="funsubsubcatgetsave()">
          <option *ngFor="let xy of subcatdata" value={{xy._id}}>{{xy.subcat}}</option>
        </select>
    </td>
    <td >
      <select class="form-control input-xs form-control-inline" id="upcat" name="drop1" [(ngModel)]="dropscatids">
        <option *ngFor="let xx of subcatdataa" value={{xx._id}}>{{xx.subsubcat}}</option>
      </select> 
    </td>
    <td >
      <select class="form-control input-xs form-control-inline" id="upcat"name="drop1" [(ngModel)]="dropbrandids">
        <option *ngFor="let xq of branddata" value={{xq._id}}>{{xq.brand}}</option>
      </select>  
    </td>
    <td ><input type="text" class="form-control input-xs"[(ngModel)]="pro"></td>
    <td ><input type="color" class="form-control input-xs"id="gSprcolor"name="favcolor"[(ngModel)]="procolors" value="#ff0000"></td>
        
    
    <td ><input type="text"class="form-control input-xs" [(ngModel)]="quantit"></td>
    <td ><input type="text"class="form-control input-xs" [(ngModel)]="pric"></td>
    <td ><input type="text"class="form-control input-xs" [(ngModel)]="desc"></td>

    
    <td *ngIf="tmp!=0"><input type="button" value="save" (click)="funprosave(x)">
    <input type="button" value="Cancel" (click)="funccancel(x)">
    </td>
  <td ></td>
  
</ng-template>

<div class="fixedpg">
<pagination-controls (pageChange)="pno=$event"></pagination-controls> 

</div>


